<html>
<head>
<title><%= @name %> for <%= @duration %> seconds</title>
<meta http-equiv="refresh" content="<%= @duration %>;url=<%= @next %>">
</head>
<body style="margin:0;padding:0">
<div width="100%">
<object width="100%" height="100%"> 
<param name="movie" value="<%= @url %>">
</object> 
</div>
</body>
</html>


